<a href="/index" class="site-logo"><img src="img/logo.jpg" alt="logo"></a>
<div class="header-controls">
  <button class="nav-switch-btn"><i class="fa fa-bars"></i></button>
</div>
<ul class="main-menu">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About the Artist </a></li>
  <li>
    <a href="/portfolio">Portfolio</a>
  </li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/order">Order</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
