<a href="/admin" class="site-logo"><img src="img/logo.png" alt="logo"></a>
<div class="header-controls">
  <button class="nav-switch-btn"><i class="fa fa-bars"></i></button>
  <button class="search-btn"><i class="fa fa-search"></i></button>
</div>
<ul class="main-menu">
  <li><a href="/admin">Dashboard</a></li>
  <li><a href="/admin/statistics">Visitor activity </a></li>
  <li><a href="/admin/upload">Upload</a>
    <div class="sub-menu text-center">
      <a href="#blogUpload" data-toggle="modal" data-target="#blogUpload">Blog</a>
      <a href="#portfolioUpload" data-toggle="modal" data-target="#portfolioUpload">Portfolio</a>
    </div>
  </li>
  <li><a href="/admin/portfolio">Portfolio</a></li>
  <li><a href="/admin/blog">Blog</a></li>
  <li><a href="/admin/orders">Orders</a></li>
  <li><a href="/admin/contacts">Contacts</a></li>
  <li class="search-mobile">
    <button class="search-btn"><i class="fa fa-search"></i></button>
  </li>
</ul>
